
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <title>Mercado Liebre</title>
</head>
<body>
    <header>
 
      <img src="/images/logo-mercado-liebre.svg" alt="" width="150px" height="50px">

    <section> 
     <input type="text" placeholder="Buscar productos, marcas"></section>
     <button class="lupa">
     <i class="fa-solid fa-magnifying-glass"></i></button>


     <p class="p1"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    <section class="cuerpo1">
      <nav>
         <ul class="espaciadoUl">
            <li><a href="">Ofertas</a> </i></li>
            <li><a href="">Tiendas Oficiales</a> </li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
         </ul>

          <ul>
            <li><a href="">Crea tu cuenta</a> <i class="fa-regular fa-address-card"></i> </li>
             <li><a href="">Ingresá</a>  <i class="fa-solid fa-arrow-right-to-bracket"></i> </li>
            <li><a href="">Mis compras</a>   <i class="fa-solid fa-basket-shopping"></i> </li>
          </ul>
      </nav>

   <button class="menu-hamburguesa">
        <i class="fa-solid fa-bars"></i>
   </button>
 
</header>
<main>
    

    <section >
        <h3>Basado en tu ultima visita</h3>
    </section>

    <article class="precio"> 
         <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Samsung galaxy s10">
         <p>$6.770</p>
         <p>40% off</p>
         <strong>Cafetera Moulinex</strong>
    </article>
     
    <article class="precio">
         <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="Samsung galaxy s10">
         <p>$230.000</p>
         <p>20% off</p>
         <strong>macbook pro 2019</strong>
    </article>

     <article class="precio"> 
            <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung galaxy s10">
            <p>$70.500</p>
            <p>10% off</p>
            <strong>Samsung galaxy s10</strong>
     </article>

      <article class="precio">
              <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="Samsung galaxy s10">
              <p>$23.200</p>
              <p>5% off</p>
              <strong> SmartTv Samsung 43"</strong>
      </article>
    <section>
        <h3>Ofertas</h3>
    </section> 

    <article class="precio"> 
          <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Samsung galaxy s10">
          <p>$6.770</p>
          <p>40% off</p>
          <strong>Cafetera Moulinex</strong>
    </article>

    <article class="precio">
           <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="Samsung galaxy s10">
           <p>$230.000</p>
           <p>20% off</p>
           <strong>macbook pro 2019</strong>
    </article>

         <article class="precio"> 
                <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung galaxy s10">
                <p>$70.500</p>
                <p>10% off</p>
                <strong>Samsung galaxy s10</strong>
         </article>
     
         <article class="precio"> 
                <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="Samsung galaxy s10">
                <p>$23.200</p>
                <p>5% off</p>
                <strong> SmartTv Samsung 43"</strong>
         </article>
         
 </main>
 <footer>
     <div>
        <i class="fa-solid fa-credit-card"></i>
     </div>
        <section><h3>Paga con tarjeta o efectivo</h3>
     <p>Con mercado liebre cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
     
     </section>

     <section>
         <div><i class="fa-solid fa-gift"></i></div>
         <h3>Envio gratis desde $2.500</h3>
     <P>Solo por estar registrado en Mercado Liebre tenes envios gratis en  miles de productos. Es un benefio de Mercado Puntos.</P>
     </section>
 </section>
 <div><i class="fa-solid fa-user-shield"></i></div>
 <section><h3>Seguridad de principio a fin </h3>
 <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estas siempre protegid@.</p>
  </section>
   <p>Copyright © 1999-2022 MercadoLiebre S.R.L.</p>




 </footer>
</body>
</html>